<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <div class="nowplaying-image">
                <img id="nowPlayingImage" />
            </div>
            <div class="nowplaying-clientlist">
                <ul id="nowPlayingSection" class="nav navbar-nav">
                    @*@foreach (var client in Model.Clients)
                    {
                        <li><a href="#" data-thumb="@(client.NowPlaying != null ? client.NowPlaying.Thumb : string.Empty)" data-name="@(client.NowPlaying != null ? client.NowPlaying.Title : string.Empty)">@client.Name</a></li>
                    }*@
                </ul>
            </div>
            <div class="nowplaying-info">
                Currently Playing: <span id="nowPlayingTitle" />
            </div>
        </div>
    </div>
</div>