.nowplaying-image
{
    float: left;
    width: 100px;
    height: 140px;
}

.nowplaying-image img
{
    width: 100%;
    height: 100%;
}

.nowplaying-clientlist
{
    float: left;
    width: 90%
}

.nowplaying-info
{
    float: left;
    padding-left: 15px
}